body{
    background-image: url("repd.png");
}
h2{
    background-color: white;
}
p{
    display: flex;
    position: relative;
    top: 2rem;
    margin-left: 8rem;
}
.p{
   display: flex; 
   position: relative;
   top: -350px;
   margin-left: 47rem;
   margin-right: 6rem;
}
.gan{
    display: flex;
    height: 200px;
    width: 300px;
    margin-left: 46rem;
    position: relative;
    top: -21rem;
}
.a1{
    display: flex;
    height: 400px;
    width: 302px;
    margin-left: 8rem;
    position: relative;
    top: -13rem;
}
.a2{
    display: flex;
    height: 396px;
    width: 300px;
    margin-left: 46rem;
    position: relative;
    top:-41.5rem;
}

.a3{
    display: flex;
    height: 400px;
    width: 302px;
    margin-left: 8rem;
    position: relative;
    top: -29.5rem;
}

.a4{
    display: flex;
    height: 396px;
    width: 300px;
    margin-left: 46rem;
    position: relative;
    top: -58.5rem;
}

.a5{
    display: flex;
    height: 400px;
    width: 302px;
    margin-left: 8rem;
    position: relative;
    top: -45.6rem;
}

.a6{
    display: flex;
    height: 500px;
    width: 1272px;
    position: relative;
    margin-top: -37rem;
}

h1{
    background-color: white;
    
}
h3{
    background-color:white;
    position: relative;
    top:-4.4rem;
}
h4{
    background-color: whitesmoke;
    position: relative;
    top:-21rem;
}

.a7{
    display: flex;
    height: 400px;
    width: 302px;
    margin-left: 45.5rem;
    position: relative;
    top: -64rem;
    
}

.a8{
    display: flex;
    height: 400px;
    width: 1035px;
    margin-left: 8rem;
    position: relative;
    top: -18rem;
}